<div class="page-title"><h2 style="color: white;">プロフィール変更</h2></div>

<div class="back2">
    <div class="back2-top">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form3"><%= f.label :email, 'メールアドレス' %><br />
          <%= f.email_field :email, :autofocus => true %></div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form3"><%= f.label :password, 'パスワード' %> <i>(変更しない場合空欄)</i><br />
          <%= f.password_field :password, :autocomplete => "off" %></div>

          <div class="form3"><%= f.label :password_confirmation, 'パスワード確認' %><br />
          <%= f.password_field :password_confirmation %></div>

          <div class="form3"><%= f.label :current_password, '現在のパスワード' %><i>(入力してください)</i><br />
          <%= f.password_field :current_password %></div>
    </div>
   

  <!-- ユーザーに既存の絡むを追加 -->


<table class="attr">
  <tr>
    <th width="150"><%= f.label :username, 'ユーザーネーム' %></th>
    <td><%= f.text_field :username, :autofocus => true %></td>
  </tr>
  <tr>
    <th><%= f.label :birth_date, '年齢' %></th>
    <td><%= f.text_field :birth_date %></td>
  </tr>
  <tr>
    <th><%= f.label :job, 'ご職業' %></th>
    <td><%= f.text_field :job %></td>
  </tr>
  <tr>
    <th><%= f.label :gender, '性別' %></th>
    <td><label><%= f.radio_button :gender, "0" %>男</label>
  <label><%= f.radio_button :gender, "1" %>女</label></td>
  </tr>
  <tr>
    <th><%= f.label :hobby, '趣味' %></th>
    <td><%= f.text_field :hobby %></td>
  </tr>
  <tr>
    <th><%= f.label :area, '現住地' %></th>
    <td><%= @user.area %><%= f.text_field :area %></div></td>
  </tr>
  <tr>
    <th><%= f.label :alcohol_strength, 'お酒の強さ' %></th>
    <td><label><%= f.radio_button :alcohol_strength, "0" %>弱い</label>
    <label><%= f.radio_button :alcohol_strength, "1" %>強い</label></td>
  </tr>
  <tr>
    <th><%= f.label :introduction, '自己紹介' %></th>
    <td><%= f.text_field :introduction %></td>
  </tr>

</table>

  <div class="submit-botton"><%= f.submit "更新" %></div>
<% end %>



<%= link_to "戻る", :back %>
</div>