<div class="sample" style="float:left;margin-left:50px;"><%= link_to "Goo it", root_path %></div>
		<div class="menubar">
			&nbsp;&nbsp; <%= menu_link_to "Gooスケジュール", "#" %>
			&nbsp;&nbsp; <%= menu_link_to "お店を探す", :izakaya_profiles %>
			&nbsp;&nbsp; <%= menu_link_to "My BloGoo", :posts %>
			&nbsp;&nbsp; <%= menu_link_to "Myプロフィール", :account %>
		</div>