<% @page_title = "店舗情報" %>
<h1><%= @page_title %></h1>

<!-- 店舗の検索入れる -->
<div class="back">
    <div class="izakaya_search">
          <%= form_tag :search_izakaya_profiles, method: :get do %>
          <p>フリーワード検索</br><%= text_field_tag "q", params[:q] %>
          <%= submit_tag "検索" %></p>
          <% end %>
    </div>

    <div class="search_menu">
          &nbsp;&nbsp; <%= menu_link_to "肉料理", 'izakaya_profiles/search_niku' %>

          &nbsp;&nbsp; <%= menu_link_to "ジャンルから探す", "#" %>
          &nbsp;&nbsp; <%= menu_link_to "エリアから探す", "#" %>
          &nbsp;&nbsp; <%= menu_link_to "コースから探す", "#" %>
    </div>


    　<% if @izakaya_profiles.present? %>
     <table class="list">
      <tr>
        <th>店舗名</th>
        <th>電話番号</th>
        <th>アクセス</th>
        <th>住所</th>
      </tr>
      <% @izakaya_profiles.each do |izakaya_profile| %>
      <tr>
        <td style="text-align: center;"><%= link_to izakaya_profile.izakaya_id, izakaya_profile %><!--詳細画面へのリンク-->
        <td><%= izakaya_profile.phone %></td>
        <td><%= izakaya_profile.access %></td>
        <td><%= izakaya_profile.place %></td>
      </tr>
      <% end %>
    </table>
    <% else %>
    <p>店舗がありません。</p>
    <% end %>
</div>