<% @page_title = "店舗詳細" %>

<h1><%= @page_title %></h1>



<table class="attr">
  <tr>
    <th width="150">店舗名</th>
    <td><%= @izakaya_profiles.izakaya_id %></td>
  </tr>
  <tr>
    <th>開店時間</th>
    <td><%= @izakaya_profiles.open_time %></td>
  </tr>
  <tr>
    <th>閉店時間</th>
    <td><%= @izakaya_profiles.close_time %></td>
  </tr>
  <tr>
    <th>店舗画像</th>
    <td><%= @izakaya_profiles.image %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @izakaya_profiles.phone %></td>
  </tr>
  <tr>
    <th>禁煙/喫煙</th>
    <td><%= @izakaya_profiles.menus %></td>
  </tr>
  <tr>
    <th>アクセス</th>
    <td><%= @izakaya_profiles.access %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @izakaya_profiles.place %></td>
  </tr>
  <tr>
    <th>メニュー</th>
    <td><%= @izakaya_profiles.cigaret %></td>
  </tr>
  <tr>
    <th>店舗紹介</th>
    <td><%= @izakaya_profiles.introduction %></td>
  </tr>
</table>


<%= link_to t('.back', :default => t("helpers.links.back")),
              izakaya_profiles_path, :class => 'btn btn-default'  %>

