<!DOCTYPE html>
<head>

  <title>Goo-it</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href=’http://fonts.googleapis.com/css?family=Patrick+Hand+SC’ rel=’stylesheet’ type=’text/css’>
</head>
<body>
<header>
  <nav>
    <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
    <% if user_signed_in? %> 
      <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
      <!-- *_path はUserモデルを作成したときに、
        deviseにより自動で作成されてますので、rake routesで確認できます -->
      <div id="login_email">
       <strong><%= current_user.email %></strong>でログインしています</br>
       <p>こんにちは、<%= current_user.username %>さん</p></div>

      <%= link_to 'プロフィール変更', edit_user_registration_path %> 
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "サインイン", new_user_registration_path %> 
      <%= link_to "ログイン", new_user_session_path %> 
      <%= link_to "twitterでログイン", user_omniauth_authorize_path(:twitter) %>
    <% end %>
  </nav>
</header>
  
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="container">
   <div id="header">
       <%= render "shared/header" %>
   </div><!-- header -->
   <div id="content">
       <%= yield %>
   </div><!-- content -->
   <div id="footer">
       <%= render "shared/footer" %>
   </div><!-- footer -->
</div><!-- container -->
</body>
</html>
